@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
html {
  scroll-behavior: smooth;
  color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-header {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 10vw;
  color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: 0.4s ease-out;
}
.main-header .logo {
  font-size: 10px;
  margin-left: 5px;
  letter-spacing: 2px;
}
.main-header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
.main-header .nav-links {
  display: flex;
  list-style: none;
}
.main-header .nav-links .nav-link a {
  margin: 0.2rem;
  padding: 1rem 0.5rem;
}
.main-header .nav-links .nav-link a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.main-header .menu-icon__line {
  display: block;
  position: relative;
  background: #000;
  height: 2px;
  width: 20px;
  border-radius: 4px;
}
.main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #000;
  transition: background 0.8s ease;
}
.main-header .menu-icon__line::before {
  transform: translateY(-5px);
}
.main-header .menu-icon__line::after {
  transform: translateY(5px);
}
.main-header .menu-btn {
  display: none;
}
.main-header.scrolled {
  height: 50px;
  background: rgba(0, 0, 0, 0.9);
  color: white;
}
.main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after {
  background: white;
}

@media screen and (max-width: 767px) {
  .main-header .menu-icon {
    display: block;
  }
  .main-header .menu-icon__line {
    -webkit-animation: closedMid 0.8s backwards;
            animation: closedMid 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::before {
    -webkit-animation: closedTop 0.8s backwards;
            animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::after {
    -webkit-animation: closedBtm 0.8s backwards;
            animation: closedBtm 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: #fff;
    background: rgba(3, 3, 3, 0.6196078431);
    transition: opacity 0.8s 0.5s, -webkit-clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s, -webkit-clip-path 1s 0.5s;
    -webkit-clip-path: circle(200px at top right);
            clip-path: circle(200px at top right);
  }
  .main-header .nav-links .nav-link {
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    text-align: center;
  }
  .main-header .nav-links .nav-link a {
    display: block;
    padding: 2rem 0;
  }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.085, 0.32, 1.275);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
    transition-delay: 0.7s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
    transition-delay: 0.8s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
    transition-delay: 0.9s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(4) {
    transition-delay: 1s;
  }
  .main-header .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    -webkit-animation: pulse 1s;
            animation: pulse 1s;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line {
    background: #fff;
    -webkit-animation: openMid 0.8s forwards;
            animation: openMid 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
    background: white;
    -webkit-animation: openTop 0.8s forwards;
            animation: openTop 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
    background: white;
    -webkit-animation: openBtm 0.8s forwards;
            animation: openBtm 0.8s forwards;
  }
}
@-webkit-keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}
@-webkit-keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@-webkit-keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@-webkit-keyframes openMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes closedMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes closedMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@-webkit-keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

h1 {
  font-family: "Abril Fatface";
}

h2, p {
  font-family: "Roboto";
  font-weight: 300;
}

body {
  background-image: url("images/giphy.gif");
  min-height: 100%;
  position: relative;
  margin: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hh3 {
  text-align: center;
  margin-top: 8em;
  font-weight: bold;
  font-size: 2em;
  margin-right: auto;
  margin-bottom: 4px;
}

.skills {
  line-height: 30px;
  padding-top: 4em;
  letter-spacing: 5px;
}

.skills h1 {
  margin-top: 3em;
  margin-bottom: 50px;
  font-size: 7.2rem;
  text-align: center;
}

.skills i {
  font-size: 200px;
  padding: 5px;
  color: white;
  text-align: center;
}

.skills img {
  height: 200px;
  padding: 5px;
  align-items: center;
}

.line {
  margin-top: 0;
  margin-bottom: 10em;
  border-left: 1px solid rgb(246, 249, 246);
  height: 25px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}

.name {
  font-size: 6em;
  margin-bottom: 0;
  /* font-size: 18vw; */
}

.container1 {
  padding-left: 6em;
  margin-top: 15.25em;
  height: 100%;
  margin-bottom: 0;
}

.job-d {
  margin-top: 0;
  font-size: 3em;
  /* font-size: 15vw; */
  margin-bottom: 7.5em;
  font-style: italic;
}

.about-info {
  margin-top: 0;
  padding-top: 6.2rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.724);
}

.about-info h1 {
  font-size: 7.2rem;
  text-align: center;
}

.about-info p {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.4rem;
}

.image {
  position: relative;
  width: 50%;
  margin-top: 1em;
  margin-left: 20%;
}

.image_ {
  display: block;
  width: 100%;
  box-shadow: 5px black;
  transition: 1s;
}

.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.75s;
}

.image_overlay:hover {
  opacity: 1;
}

.image_overlay > * {
  transform: translateY(20px);
  transition: transform 2.5s;
}

.image_overlay:hover > * {
  transform: translateY(0);
}

.projects {
  background-color: rgb(13, 66, 227);
  margin-top: 0;
  padding: 2em;
}

.projects h1 {
  text-align: center;
}

.project_title {
  margin-top: 2em;
  font-size: 2em;
  /* font-weight: bold; */
  text-align: center;
}

.project_desc {
  font-size: 1.5em;
  margin-top: 0;
  justify-content: center;
  text-align: center;
}

.project_t {
  position: relative;
  float: left;
  font-size: 2em;
  z-index: 1;
  width: 3em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: 4s;
}

.image2 {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-top: 10%;
  margin-right: 20%;
  margin-bottom: 10%;
}

.image_2 {
  display: block;
  width: 100%;
  transition: 1s;
}

.image_overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.75s;
}

.image_overlay2:hover {
  opacity: 1;
}

.image_overlay2 > * {
  transform: translateY(20px);
  transition: transform 2.5s;
}

.image_overlay2:hover > * {
  transform: translateY(0);
}

.projects a {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  padding: 1em;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-top: 0;
  place-items: center;
  border-radius: 5px;
  transition: 0.5s;
}

.projects a:before {
  content: "";
  background: linear-gradient(45deg, #0015ff, #0015ff, #070707, #575554, #04a9ca, #048cb1, #000000, #cecece);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.projects a:active {
  color: #000;
}

.projects a:active:after {
  background: transparent;
}

.projects a:hover:before {
  opacity: 1;
}

.projects a:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.projects a:hover {
  background-color: rgb(0, 119, 255);
}

footer * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

footer ul {
  list-style: none;
}

footer {
  color: rgb(8, 114, 253);
  background: #121315;
}

footer p {
  color: rgb(6, 98, 245);
  max-width: 25em;
  font-size: 0.9em;
  line-height: 23px;
}

footer a {
  color: rgb(6, 105, 253);
  text-decoration: none;
}

footer h4 {
  margin-bottom: 1em;
  text-transform: uppercase;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

.footer3 .container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.brand {
  display: block;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1em;
}

.media-icons li,
.service-icons li {
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
}

.media-icons a {
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  border: 1px rgb(6, 75, 248) solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.media-icons a:hover {
  background: rgb(8, 32, 243);
  color: #111;
}

.footer-bottom {
  border-top: 1px #1c04f8 solid;
}

.footer3 .container {
  align-items: center;
  text-align: center;
}

.footer3 .brand {
  margin: 0;
  letter-spacing: 2px;
}

.footer3 .menu li {
  display: inline-block;
  margin: 1em;
  text-align: center;
}

.footer3 .menu a {
  transition: 0.3s;
  font-weight: 300;
  color: rgb(30, 5, 255);
}

.footer3 .menu a:hover {
  color: rgb(36, 7, 255);
  text-decoration: none;
}

@media only screen and (max-width: 1086px) {
  .container1 {
    margin-top: 10em;
    height: 60vh;
  }
  .skills h1 {
    margin-top: 5.5em;
    margin-bottom: 50px;
    font-size: 7.2rem;
    text-align: center;
  }
  .skills i {
    font-size: 200px;
    padding: 5px;
    color: white;
    text-align: center;
  }
  .skills img {
    height: 200px;
    padding: 5px;
    align-items: center;
  }
  .job-d {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
  .about-info {
    margin-top: 0;
    padding-top: 6.2rem;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
  .about-info h1 {
    font-size: 4.5em;
    text-align: center;
  }
  .about-info p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    font-size: 2em;
  }
  .job-d {
    margin-bottom: 0;
  }
  .image {
    position: relative;
    width: 50%;
    margin-top: 1em;
    margin-left: 20%;
  }
  .skills {
    margin-top: 30px;
  }
  .image_ {
    display: block;
    width: 100%;
    transition: 1s;
  }
  .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .projects {
    margin-top: 9px;
    padding: 1em;
  }
  .projects h1 {
    text-align: center;
  }
  .project_title {
    margin-top: 15px;
    text-align: center;
  }
  .project_desc {
    font-size: 22px;
    margin-top: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
  }
  .image2 {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
  }
  .image_2 {
    display: block;
    width: 100%;
    transition: 1s;
  }
  .image_overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
  }
  .projects a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 1em;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 15px;
    margin: auto;
    margin-top: 0;
    place-items: center;
    border-radius: 5px;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 1024px) {
  .container1 {
    margin-top: 10em;
    height: 40vh;
  }
  .job-d {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
  .about-info {
    margin-top: 0;
    padding-top: 6.2rem;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
  .about-info h1 {
    font-size: 4.5em;
    text-align: center;
  }
  .about-info p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    font-size: 2em;
  }
  .job-d {
    margin-bottom: 0;
  }
  .image {
    position: relative;
    width: 50%;
    margin-top: 1em;
    margin-left: 20%;
  }
  .skills {
    margin-top: 30px;
  }
  .image_ {
    display: block;
    width: 100%;
    transition: 1s;
  }
  .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .image_overlay > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_overlay:hover > * {
    transform: translateY(0);
  }
  .image_overlay2 > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_overlay2:hover > * {
    transform: translateY(0);
  }
  .projects {
    margin-top: 9px;
    padding: 1em;
  }
  .projects h1 {
    text-align: center;
  }
  .project_title {
    margin-top: 10px;
    text-align: center;
  }
  .project_desc {
    font-size: 22px;
    margin-top: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
  }
  .image2 {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
  }
  .image_2 {
    display: block;
    width: 100%;
    transition: 1s;
  }
  .image_overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
  }
  .projects a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 1em;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 15px;
    margin: auto;
    margin-top: 0;
    place-items: center;
    border-radius: 5px;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 963px) {
  .container1 {
    height: 50vh;
  }
  .job-d {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
  .about-info {
    margin-top: 0;
    padding-top: 6.2rem;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
  .about-info h1 {
    font-size: 4.5em;
    text-align: center;
  }
  .about-info p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    font-size: 2em;
  }
  .job-d {
    margin-bottom: 0;
  }
  .image {
    position: relative;
    width: 80%;
    margin-top: 1em;
    margin-left: 20%;
  }
  .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .image_overlay > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_overlay2 > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .projects {
    margin-top: 9px;
    padding: 1em;
  }
  .project_title {
    margin-top: 0.5em;
    text-align: center;
  }
  .project_desc {
    font-size: 2rem;
    margin-top: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
  }
  .image2 {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
  }
  .image_overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
  }
  .projects a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 1em;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 20px;
    margin: auto;
    margin-top: 0;
    place-items: center;
    border-radius: 5px;
    transition: 0.5s;
  }
  .projects a:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
}
@media screen and (max-width: 900px) {
  .footer3 .container {
    flex-direction: column;
  }
  .footer1 .col2 {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 828px) {
  .about-info {
    margin-top: 0;
    padding-top: 6.2rem;
    padding-bottom: 1.5rem;
    width: 100%;
    margin-bottom: 0;
  }
  .about-info h1 {
    font-size: 2rem;
    text-align: center;
  }
  .about-info p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    font-size: 1.4rem;
  }
  .skills h1 {
    margin-top: 10em;
    margin-bottom: 50px;
    font-size: 2rem;
    text-align: center;
  }
  .skills i {
    font-size: 130px;
    padding: 5px;
    color: white;
    text-align: center;
  }
  .skills img {
    height: 130px;
    padding: 5px;
    align-items: center;
  }
  .name {
    font-size: 2.5em;
  }
  .container1 {
    height: 50vh;
  }
  .job-d {
    font-size: 2em;
    margin-bottom: 1px;
  }
  .image {
    position: relative;
    width: 80%;
    margin-top: 1em;
    margin-left: 20%;
  }
  .image_ {
    display: block;
    width: 100%;
    box-shadow: 5px black;
    transition: 1s;
  }
  .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
  }
  .image_overlay > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_overlay2 > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .projects {
    margin-top: 0;
    padding: 2em;
  }
  .projects h1 {
    text-align: center;
  }
  .project_title {
    margin-top: 0.5em;
    font-size: 30px;
    /* font-weight: bold; */
    text-align: center;
  }
  .project_desc {
    font-size: 28px;
  }
  .image2 {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
  }
  .image_2 {
    display: block;
    width: 100%;
    transition: 1s;
  }
  .image_overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .projects a {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    padding: 1em;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 16px;
    margin: auto;
    margin-top: 0;
    place-items: center;
    border-radius: 5px;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 755px) {
  .about-info {
    margin-top: 0;
    padding-top: 6.2rem;
    padding-bottom: 1.5rem;
    width: 100%;
    margin-bottom: 0;
  }
  .about-info h1 {
    font-size: 2rem;
    text-align: center;
  }
  .about-info p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    font-size: 1.4rem;
  }
  .name {
    font-size: 2.5em;
  }
  .container1 {
    height: 50vh;
  }
  .job-d {
    font-size: 2em;
    margin-bottom: 1px;
  }
  .image {
    position: relative;
    width: 80%;
    margin-top: 1em;
    margin-left: 20%;
  }
  .image_ {
    display: block;
    width: 100%;
    box-shadow: 5px black;
    transition: 1s;
  }
  .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
  }
  .image_overlay > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_overlay2 > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .projects {
    margin-top: 0;
    padding: 2em;
  }
  .projects h1 {
    text-align: center;
  }
  .project_title {
    margin-top: 0.5em;
    font-size: 25px;
    /* font-weight: bold; */
    text-align: center;
  }
  .project_desc {
    font-size: 20px;
  }
  .image2 {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
  }
  .image_2 {
    display: block;
    width: 100%;
    transition: 1s;
  }
  .image_overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .projects a {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    padding: 1em;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 15px;
    margin: auto;
    margin-top: 0;
    place-items: center;
    border-radius: 5px;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 612px) {
  .container1 {
    margin-top: 10em;
    padding-left: 1em;
  }
  .job-d {
    font-size: 24px;
    margin-bottom: 1em;
  }
  .about-info {
    margin-top: 0;
    padding-top: 6.2rem;
    width: 100%;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
  }
  .about-info h1 {
    font-size: 2.5em;
    text-align: center;
  }
  .about-info p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    font-size: 16px;
  }
  .job-d {
    margin-bottom: 0;
  }
  .image {
    position: relative;
    width: 100%;
    margin-top: 1em;
    margin-left: 2px;
  }
  .image_ {
    display: block;
    width: 100%;
    transition: 1s;
  }
  .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .projects {
    margin-top: 0;
    padding: 1em;
  }
  .projects h1 {
    text-align: center;
  }
  .project_title {
    margin-top: 0.5em;
    font-size: 30px;
    text-align: center;
  }
  .project_desc {
    font-size: 25px;
    margin-top: 0;
    justify-content: center;
    text-align: center;
  }
  .image2 {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
  }
  .image_2 {
    display: block;
    width: 100%;
  }
  .image_overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .image_overlay > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_overlay2 > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_overlay2:hover > * {
    transform: translateY(0);
  }
  .projects a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 1em;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 15px;
    margin: auto;
    margin-top: 0;
    place-items: center;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 540px) {
  .container1 {
    margin-top: 8em;
  }
  .image {
    position: relative;
    width: 100%;
    margin-top: 1em;
    margin-left: 2px;
  }
  .image_ {
    display: block;
    width: 100%;
    transition: 1s;
  }
  .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .skills h1 {
    margin-top: 5em;
    margin-bottom: 50px;
    font-size: 3.2rem;
    text-align: center;
  }
  .skills i {
    font-size: 100px;
    padding: 5px;
    color: white;
    text-align: center;
  }
  .skills img {
    height: 100px;
    padding: 5px;
    align-items: center;
  }
  .projects {
    margin-top: 0;
    padding: 1em;
  }
  .projects h1 {
    text-align: center;
  }
  .project_title {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
  }
  .project_desc {
    font-size: 20px;
    margin-top: 0;
    justify-content: center;
    text-align: center;
  }
  .image2 {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
  }
  .image_overlay > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_overlay2 > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_2 {
    display: block;
    width: 100%;
  }
  .image_overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .projects a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 1em;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 15px;
    margin: auto;
    margin-top: 0;
    place-items: center;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 436px) {
  .container1 {
    margin-top: 8em;
  }
  .image {
    position: relative;
    width: 100%;
    margin-top: 1em;
    margin-left: 2px;
  }
  .image_ {
    display: block;
    width: 100%;
    transition: 1s;
  }
  .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .skills h1 {
    margin-top: 5em;
    margin-bottom: 50px;
    font-size: 3.2rem;
    text-align: center;
  }
  .skills i {
    font-size: 70px;
    padding: 5px;
    color: white;
    text-align: center;
  }
  .skills img {
    height: 70px;
    padding: 5px;
    align-items: center;
  }
  .projects {
    margin-top: 0;
    padding: 1em;
  }
  .projects h1 {
    text-align: center;
  }
  .project_title {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  .project_desc {
    font-size: 15px;
    margin-top: 0;
    justify-content: center;
    text-align: center;
  }
  .image2 {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
  }
  .image_overlay > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_overlay2 > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_2 {
    display: block;
    width: 100%;
  }
  .image_overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .projects a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 1em;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 10px;
    margin: auto;
    margin-top: 0;
    place-items: center;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 359px) {
  .container1 {
    margin-top: 8em;
  }
  .image {
    position: relative;
    width: 100%;
    margin-top: 1em;
    margin-left: 2px;
  }
  .image_ {
    display: block;
    width: 100%;
    transition: 1s;
  }
  .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .skills h1 {
    margin-top: 6em;
    margin-bottom: 50px;
    font-size: 3.2rem;
    text-align: center;
  }
  .skills i {
    font-size: 50px;
    padding: 5px;
    color: white;
    text-align: center;
  }
  .skills img {
    height: 50px;
    padding: 5px;
    align-items: center;
  }
  .projects {
    margin-top: 0;
    padding: 1em;
  }
  .projects h1 {
    text-align: center;
  }
  .project_title {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  .project_desc {
    font-size: 10px;
    margin-top: 0;
    justify-content: center;
    text-align: center;
  }
  .image2 {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
  }
  .image_overlay > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_overlay2 > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_2 {
    display: block;
    width: 100%;
  }
  .image_overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .projects a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 1em;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 5px;
    margin: auto;
    margin-top: 0;
    place-items: center;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 250px) {
  .container1 {
    margin-top: 8em;
  }
  .image {
    position: relative;
    width: 100%;
    margin-top: 1em;
    margin-left: 2px;
  }
  .image_ {
    display: block;
    width: 100%;
    transition: 1s;
  }
  .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .projects {
    margin-top: 0;
    padding: 1em;
  }
  .projects h1 {
    text-align: center;
  }
  .project_title {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
  }
  .project_desc {
    font-size: 9px;
    margin-top: 0;
    justify-content: center;
    text-align: center;
  }
  .image2 {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
  }
  .image_overlay > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_overlay2 > * {
    transform: translateY(0);
    transition: transform 2.5s;
  }
  .image_2 {
    display: block;
    width: 100%;
  }
  .image_overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  .projects a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 1em;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 5px;
    margin: auto;
    margin-top: 0;
    place-items: center;
    border-radius: 5px;
  }
}/*# sourceMappingURL=style.css.map */